.viewFile__bg{
    border: 1px solid #dee2e6;

}

.viewFile__block{
    border: none;
    text-align: left;
    display: flex;
    padding: 0;
}

.viewFile__content {
    background: none ;
    border: none;
    color: #343a40;  
    cursor: pointer;  
}
.viewFile__link{
    cursor: pointer;
}

.viewFile__content:hover {
    background: none;
    border: none;
    color: #343a40;
    text-decoration: none;
    font-weight: bold;
}

.viewFile__content:focus{
    background: #fff !important;
    border: none;
    color: #343a40;
    font-weight: bold;
}
.viewFile__content:active{
    background: #fff !important;
    border: none;
    color: #343a40;
    font-weight: bold;
}
.viewFile__content:visited{
    background: #fff !important;
    border: none;
    color: #343a40;
}

.flex-2{
    flex-grow: 2;
    text-align: left;
}