.Comment__bg{
    background: #E9EBEE;
    padding-bottom: 20px;
    padding-top: 15px;
}


.Detail__cmt-block{
    text-align: right;
    
}
.Comment__user-cmt{
    max-height: 50px;
}


.Comment__block-cmt {
    padding: 10px 0;
    width: inherit;
}
.Comment__cmt-content{
    max-width: fit-content;
    padding: 10px;
}
