

.majors__bg{
    padding: 50px 0;
    background-color: #264E70;
}

.major__box{
    background: none;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 50%;

margin: 0 auto;
}

.major__title{
    color: #fff;
    font-size: 20px;
}

.major__content{
    color: #fff;
    font-size: 16px;
}

.major__button{
    padding: 10px 20px;
    background-color: #ED8937;
    color: #fff;
    border-radius: 5px;
}

.major__button:hover{
    background-color: #fff;
    color: #ED8937;
}